body {
	background-color: #e2594e;
	text-align: center;
}

h1, h3, h4, p {
	color: white;
}

button {
	padding: .5em;
	margin: 1em;
}

#list, #bills {
	display: none;
}

#content {
	position: absolute;
	margin: -75px 0 0 -160px;
	left: 50%;
	top: 50%;
}